.article
  .article_title=link_to article.title, article_path(article.id)
  .article_content=article.content
  =article.user.email[0..(article.user.email.index('@')-1)]
  %br
  -if user_signed_in?
    -if current_user.id == article.user.id
      =link_to raw('<i class="fa fa-pencil-square-o"></i>'), edit_article_path(article.id)
      | 
      =link_to raw("<i class='fa fa-times'></i>"), article_path(article.id), method: :delete
      |  
  =link_to raw('<i class="fa fa-comments-o"></i>'), article_path(article.id)
  %br