@import "bootstrap";

.form-wrap{
	text-align: center;
}
.container {padding:10px;}

.article {
  width: 90%;
	padding: 5px;
	border: 1px solid #abc;
	margin-bottom: 10px;
}
.notice {
	background-color: #0c6;
	border-radius: 5px;
	padding:5px;
}